body {
    font-family: Arial, sans-serif;
    background-image: url(https://d1muf25xaso8hp.cloudfront.net/https://img.criativodahora.com.br/2023/10/MjQvMTAvMjAyMyAxMmgyNQ==6537e2011aea4.jpeg?w=1000&h=&auto=compress&dpr=1&fit=max);
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #4a90e2;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #357ab8;
}

.playlist {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

p {
    margin: 5px 0;
}

.icon-jesus {
    width: 64px;
    height: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}